body {
    background-color: antiquewhite
}

th {
    font-size: 25pt;
    font-weight: bold;
    font-style: italic;
}

td {
    text-align: center;
    font-size: 20pt;
}

body {
    font-family: 'Josefin Slab', serif;
}
ul {
    list-style-type: none
}

li {
    font-size: 14pt;
    font-weight: bold;
}

hr {
    size: 30px;
    width: 50%;
}
